<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">

    <title>{{ title }}</title>

    <link href="{{ assetPath 'css/common.css' }}" rel="stylesheet" type="text/css">

</head>
<body>

<h1>Fanboy gulp example</h1>
<p>Hello, this is an example page.</p>

<hr>
    <img src="{{ assetPath 'assets/img/gulp.png' }}" alt="Gulp logo">

</body>
</html>